@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/background3_cortado2.avif);
    background-size: cover;
    background-position: center;
}

header {
    background-color: #0531d01f;
    border-bottom: 2px solid black;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
}

header nav ul {
    padding-top: 12px;
}

header nav ul li {
    font-weight: bold;
    list-style: none;
    display: inline;
    padding-left: 20px;
    font-size: 20px;
}

header nav ul li a {
    color: rgba(255, 255, 255, 0.52);
    text-decoration: none;
}

#header_tela_pequena {
    display: none;
}

.container h1 {
    display: flex;
    justify-content: center;
}

#parte_inicial h2 {
    padding-top: 30px;
    color: rgba(128, 128, 128, 0.57);
    display: flex;
    justify-content: center;
}

.container_carousel {
    width: 100%;
    display: flex;
    justify-content: center;
}

#carousel {
    padding-top: 30px;
}

#carousel img {
    width: 1000px;
    height: 400px;
}

#carousel button span {
    background-color: rgb(0, 0, 0);

}   

#carousel .carousel-indicators button {
    background-color:rgb(6, 141, 238) ;
}

#carousel .carousel-indicators .active {
    background-color:rgb(39, 6, 253) ;
}


#tab {
    padding-top: 50px;
}

#tabs_jogos {
    padding-top: 50px;
}

#tabs_jogos button {
    color: #00FFFF;
    font-weight: bold;
}

.tab-content .tab-pane {
    padding-top: 20px;
} 


.tab-content .tab-pane .row {
    display: flex;
    justify-content: center;
}

.tab-content .tab-pane img {
    width: 100%;
    height: 300px;
}

.h1_classes {
    padding-top: 130px;
    padding-bottom: 30px;
}

#formulario {
    padding-top: 80px;
    padding-bottom: 50px;
}

form label {
    font-weight: bold;
}

#formulario form button {
    margin-top: 15px;
    font-weight: bold;
    color: black;
    background-color: #00ffee;
}

#formulario form .form-check {
    padding-top: 5px;
}

.card {
    margin-top: 15px;
}

.card-header {
    color: white;
    font-weight: bold;
    font-family: "Creepster", system-ui;
    font-size:35px;
}

.card-body .modal .modal-header {
    display: grid;
}

.card-body .modal .modal-body picture {
    display: flex;
    justify-content: center;
}

.card-body .modal .modal-body img {
    width: 200px;
    height: 200px;
}


.card img {
    height: 350px;
}


footer {
    background-color: #0033ed1f;
    padding-bottom: 1px;
    padding-top: 5px;
    border-top: 2px solid black;
}

footer p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, 
h1, 
h3, 
form,
.card-body .modal .modal-header h1 {
    color: #00ffee;
}

@media screen and (max-width: 1180px){

    #carousel img {
        width: 580px;
        height: 300px;
    }

    .tab-content .tab-pane img {
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 660px) {

    header .container {
        display: flex;
        text-align: center;
        padding: 20px;
    }

    #carousel img {
        width: 330px;
        height: 200px;
    }

    header #header_tela_grande {
        display: none;
    }

    #header_tela_pequena {
        display: inline;
    }

    .navbar .container h1 {
        color: white;
    }

    #menu_tela_pequena ul li a {
        color: rgba(255, 255, 255, 0.52);
    }

    .tab-content .tab-pane img {
        padding-bottom: 25px;
    }
}


